@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*, body{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
:root{
  /*--- fonts ---*/
  --heading:"Inter",sans-serif;
  --text:"JetBrains Mono", monospace;

  /*--- font sizing ---*/
  --heading-xl: 8em;

  /*--- colours ---*/
  --dark-grey:#3e3e3e;

  --light-teal:#DCF2EE;
  --dark-teal:#81B7BB;
}

/*===============================================================================
  P A G E // H O M E
===============================================================================*/

 /* C O M P // Home Landing Page
 =============================*/

 .home--landing-page{
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--dark-grey);
 }

 .landing-page--title{
  position: absolute;

  top: 20vh;
  left: 20%;

  text-align: right;
  font-size: var(--heading-xl);
  font-family: var(--heading) ;

  color: var(--dark-teal);
}
.landing-page--title-overlay{
  z-index: 1;

  position: absolute;

  top: 10vh;
  left: -25%;

  text-align: right;
  font-size: var(--heading-xl);
  font-family: var(--heading) ;

  color: var(--light-teal);
}
.landing-page--description{
  font-family: var(--text);
}
.landing-page--img{
  width: 40vw;
  height: 80vh;

  position: relative;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}
.home--landing-page-img{
  background-image: url("./assets/HomeAssets/headshot.jpg");
}

.test-100{
  height: 200vh;
}
