@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
*,body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;

  font-family: var(--font-primary);
}
:root{
  /*//  --p-clr simply refers to color being permanent, --clr means color will be affected due to theme change  //*/
  /* Black - Grey - White */
  --p-clr-white: #fff;
  --clr-white: #fff;
  --p-clr-black: #000;
  --clr-black: #000;
  --clr-grey-s:#f5f2f1bf;
  /* Accents */
  --clr-accent-1:#E8624F;
  --clr-multicolor-gradient:linear-gradient(41.04deg, #ddebf3 1.34%, #ffffff00 42.39%), linear-gradient(201.1deg, #fff0e0 5.95%, #ffffff00 73.3%), linear-gradient(119.18deg, #d7efdf -6.66%, #ffffff00 39.22%), #ffeceb;

  /*// Margins + Padding + Borders //*/

  --spacing-m:3.2rem;
  --spacing-xs:1rem;

  --spacing-footer:10rem 0 3.2rem 0;

  --size-heading-section-padding:10rem var(--spacing-m) var(--spacing-m) var(--spacing-m);
  --size-section-padding:var(--spacing-m);

  --size-card-padding:2rem;

  --text-margin-heading:0 0 2rem 0;
  --text-margin-paragraph:0 0 1rem 0;
  --size-margin-button: 1rem 0 0 0;

  --spacing-s:2rem;

  --border-radius:50px;
  --border-thin:1px solid rgb(71, 71, 71);

  /*// Font Size + Family + Weight + Line Height //*/
  --font-primary:"Inter", system-ui;
  --font-heading:"Forum", sans-serif;

  --font-weight-xl:700;
  --font-weight-l:600;
  --font-weight-m:500;
  --font-weight-s:400;
  --font-weight-xs:300;

  --font-size-xl:2.8rem;
  --font-size-l:2rem;
  --font-size-s:1.2rem;
  --font-size-xs:0.8rem;
  --font-size-regular:1em;
  /*// Transitions //*/
  --transition-text-link:all 0.25s ease-out;

  --shadow-med:4px 1px 2px 0px #00000008, 0px 15px 30px 0px #00000012;
  --shadow-low:0px 1px 1px 0px #00000026, 0px 1px 5px 0px #0000000d;
}

.navbar{
  z-index: 10;

  max-width: 1000px;
  width: 100vw;

  margin: 0 auto;

  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
}
.navbar-wrapper{
  max-width: 1000px;
  width: 100vw;

  margin: 0 auto;
  padding: 0.75em 1.5em;

  display: flex;
  justify-content: space-between;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: var(--border-radius);
  box-shadow: var(--shadow-med);
}
.navbar-wrapper::before{
  content: "";
  backdrop-filter: blur(30px);
  background-color: var(--clr-grey-s);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: var(--border-radius);
}
.navbar-logo{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navbar-logo__img{
  width: 2.5em;
}
.navbar-logo__title{
  font-weight: var(--font-weight-xs);
  font-size: 1.4em;
}
.navbar-links{
  gap: 1em;

  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.regular-link{
  font-weight: var(--font-weight-s);

	position: relative;

  color: var(--clr-black);
  text-decoration: none;

  transition: all 0.2s ease-out;
}
.regular-link::after {
	content: "";
	background-color: var(--clr-black);
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;

	transition: var(--transition-text-link);
}
.regular-link:hover,
.regular-link:focus {
	color: var(--clr-accent-1);
}
.regular-link:hover::after,
.regular-link:focus::after {
	background-color: var(--clr-accent-1);
	width: 100%;
}
.navbar-button{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dark-button{
  padding: 0.5em 1.5em;

  font-weight: var(--font-weight-s);
  font-size: var(--font-size-regular);

  border-radius: var(--border-radius);

  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-black);

  transition: var(--transition-text-link);
  cursor: pointer;
}
.dark-button:hover{
  background-color: var(--clr-accent-1);
  color: var(--clr-black);
}


/*  Image Header
==========================================*/

.test-100{
  height: 100vh;
}

.image-header{
  padding: var(--size-heading-section-padding);

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--clr-multicolor-gradient);
}
.image-header__container{
  max-width: 1380px;
  display: flex;
}
.image-header__text-container{
  flex-basis: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.heading-title{
  margin: var(--text-margin-heading);

  font-family: var(--font-heading);
  font-size: var(--font-size-xl);
}
.heading-button{
  margin: var(--size-margin-button);
}
.heading-paragraph{
  margin: var(--text-margin-paragraph);
  font-weight: var(--font-weight-xs);
  font-size: var(--font-size-s);
}
.image-header__img-container{
  flex-basis: 60%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.image-header__img{
  max-width: 800px;

  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.heading-block{
  margin: var(--size-section-padding);
}
.heading-block__title{
  margin: var(--text-margin-heading);
  font-family: var(--font-heading);
  font-size: var(--font-size-xl);
}
.heading-block__paragraph{
  margin: var(--text-margin-paragraph);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-xs);
}

.link-cards{
  margin: var(--spacing-m);
}
.link-cards__container{
  gap: var(--spacing-s);

  display: flex;
  flex-wrap: wrap;
}
.link-card{
  padding: var(--size-card-padding);

  max-width: 400px;
  min-width: 300px;
  flex-basis: 25%;

  border-radius: 10px;
  box-shadow: var(--shadow-low);
}
.link-card__title{
  margin: var(--text-margin-heading);

  font-size: var(--font-size-l);
  font-weight: var(--font-weight-m);
}
.link-card__paragraph{
  font-size: var(--font-weight-s);
  font-weight: var(--font-weight-s);
  margin: var(--text-margin-paragraph);
}
.link-card__button{
  margin: var(--size-margin-button);
}

.footer{
  margin: var(--spacing-footer);
}
.footer__container{
  width: calc(100vw - var(--spacing-m) - var(--spacing-m));

  margin-left: auto;
  margin-right: auto;

  display: flex;

  border: var(--border-thin);
  border-radius: 1rem;
}
.footer-links{
  flex-basis: 25%;

  padding: var(--spacing-xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-right: var(--border-thin);
}
.footer-links__title{
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  margin: var(--text-margin-paragraph);
}
.footer__link{
  margin: var(--text-margin-paragraph);
}
.footer-socials{
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
}
.footer-info__container{
  flex-basis: 80%;

  padding: var(--spacing-xs);
  border-bottom: var(--border-thin);
}
.footer__info{
  font-size: var(--font-size-l);
  font-family: var(--font-heading);
}
.footer-brands__container{
  padding: var(--spacing-xs);

  gap: 1rem;

  display: flex;
  align-items: center;
}
.footer__brand{
  cursor: pointer;
}

@media screen and (max-width: 1032px) {
  .navbar-wrapper{
    max-width: calc(100vw - var(--size-page-padding-left) - var(--size-page-padding-right));
  }
}
@media screen and (max-width: 864px) {
  .navbar{
    top: 0;
  }
  .navbar-wrapper{
    max-width: 100vw;
    border-radius: 0;
  }
  .navbar-wrapper::before{
    border-radius: 0;
  }
}
@media screen and (max-width: 776px) {
  :root{
    --size-heading-section-padding:5rem var(--spacing-m) var(--spacing-m) var(--spacing-m);
  }
  .image-header__container{
    gap: var(--spacing-s);
    flex-direction: column;
  }
  .image-header__img-container{
    justify-content: center;
  }
  .image-header__img{
    width: 100%;
  }

  .link-cards{
    flex-direction: column;
  }
  .heading-cards__paragraph{
    margin: var(--text-margin-heading);
  }
  .link-card{
    flex-basis: 100%;
    max-width: none;
  }

  .footer__container{
    flex-direction: column-reverse;
  }
  .footer-links{
    border-top: var(--border-thin);
    border-right: none;
  }
}
@media screen and (max-width: 400px){
  :root{
    --spacing-m:2rem;

    --font-size-xl:2.4rem;
    --font-size-l:1.8rem;
    --font-size-s:1.1rem;
  }
  .link-cards{
  margin: 0;
  }
}
