@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
*,body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;

  font-family: var(--font-primary);
}
:root{
  /*//  --p-clr simply refers to color being permanent, --clr means color will be affected due to theme change  //*/
  /* Black - Grey - White */
  --p-clr-white: #fff;
  --clr-white: #fff;
  --p-clr-black: #000;
  --clr-black: #000;
  --clr-grey-s:#f5f2f1bf;
  /* Accents */
  --clr-accent-1:#E8624F;

  /*// Margins + Padding + Borders //*/
  --size-page-padding-left: 1em;
  --size-page-padding-right: 1em;
  --size-page-padding-top: 2em;
  --size-page-margin-top: 5em;
  --size-margin-l:4rem;
  --size-margin-m:1rem;
  --border-radius:50px;

  /*// Font Size + Family + Weight + Line Height //*/
  --font-primary:"Inter", system-ui;
  --font-heading:"Forum", sans-serif;

  --font-weight-xl:700;
  --font-weight-l:600;
  --font-weight-m:500;
  --font-weight-s:400;
  --font-weight-xs:300;

  --font-size-xl:2.8em;
  --font-size-l:1.2em;
  --font-size-m:1em;
  /*// Transitions //*/
  --transition-text-link:all 0.25s ease-out;

  --shadow-low:4px 1px 2px 0px #00000008, 0px 15px 30px 0px #00000012;
}

.navbar{
  z-index: 10;

  max-width: 1000px;
  width: 100vw;

  margin: 0 auto;

  position: fixed;
  top: var(--size-page-padding-top);
  left: 0;
  right: 0;
}
.navbar-wrapper{
  max-width: 1000px;
  width: 100vw;

  margin: 0 auto;
  padding: 0.75em 1.5em;

  display: flex;
  justify-content: space-between;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: var(--border-radius);
  box-shadow: var(--shadow-low);
}
.navbar-wrapper::before{
  content: "";
  backdrop-filter: blur(30px);
  background-color: var(--clr-grey-s);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: var(--border-radius);
}
.navbar-logo{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navbar-logo__img{
  width: 2.5em;
}
.navbar-logo__title{
  font-weight: var(--font-weight-xs);
  font-size: 1.4em;
}
.navbar-links{
  gap: 1em;

  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-links__link{
  font-weight: var(--font-weight-s);

	position: relative;

  color: var(--clr-black);
  text-decoration: none;

  transition: all 0.2s ease-out;
}
.navbar-links__link::after {
	content: "";
	background-color: var(--clr-black);
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;

	transition: var(--transition-text-link);
}
.navbar-links__link:hover,
.navbar-links__link:focus {
	color: var(--clr-accent-1);
}
.navbar-links__link:hover::after,
.navbar-links__link:focus::after {
	background-color: var(--clr-accent-1);
	width: 100%;
}


.navbar-button{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dark-button{
  padding: 0.5em 1.5em;

  font-weight: var(--font-weight-s);
  font-size: var(--font-size-m);

  border-radius: var(--border-radius);

  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-black);

  transition: var(--transition-text-link);
  cursor: pointer;
}
.dark-button:hover{
  background-color: var(--clr-accent-1);
  color: var(--clr-black);
}


/*  Image Header
==========================================*/

.test-100{
  height: 100vh;
}

.image-header{
  padding: 150px 50px 50px 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(41.04deg, #ddebf3 1.34%, #ffffff00 42.39%), linear-gradient(201.1deg, #fff0e0 5.95%, #ffffff00 73.3%), linear-gradient(119.18deg, #d7efdf -6.66%, #ffffff00 39.22%), #ffeceb;
}
.image-header__container{
  max-width: 1380px;
  display: flex;
}
.image-header__text-container{
  flex-basis: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.heading-title{
  font-family: var(--font-heading);
  font-size: var(--font-size-xl);

  margin-bottom: var(--size-margin-m);
}
.heading-button{
  margin-top: var(--size-margin-l);
}
.heading-paragraph{
  font-weight: var(--font-weight-xs);
  font-size: var(--font-size-l);
}
.image-header__img-container{
  flex-basis: 60%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.image-header__img{
  max-width: 800px;

  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: var(--border-radius);
}


@media screen and (max-width: 1032px) {
  .navbar-wrapper{
    max-width: calc(100vw - var(--size-page-padding-left) - var(--size-page-padding-right));
  }
}
@media screen and (max-width: 864px) {
  .navbar{
    top: 0;
  }
  .navbar-wrapper{
    max-width: 100vw;
    border-radius: 0;
  }
  .navbar-wrapper::before{
    border-radius: 0;
  }
}
@media screen and (max-width: 776px) {
  .image-header__container{
  gap: var(--size-margin-l);
  flex-direction: column;
}
.image-header__img-container{
  justify-content: center;
}
.image-header__img{
  width: 100%;
}
}
